<div class="signin-container">
  <h2>Sign Up</h2>
  <form #signUpForm="ngForm" (ngSubmit)="onSignUp(signUpForm)">
    <div class="form-group input-container">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required>
    </div>

    <div class="form-group input-container">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required>
    </div>

    <div class="form-group input-container">
      <label for="password">Password</label>
      <input
        type="{{ showPassword ? 'text' : 'password' }}"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
      >
    </div>
    <div class="form-group checkbox-container">
      <label for="showPassword">
        <input type="checkbox" id="showPassword" name="showPassword" [(ngModel)]="showPassword">
        Show Password
      </label>
    </div>

    <div class="form-group button-container">
      <button type="submit" class="submit-button" (click)="onButtonClicked($event)">Sign Up</button>
    </div>
  </form>
</div>
