.signin-container {
  width: 300px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

form {
  border: 1px solid #000;
  padding: 20px;
  box-shadow: 5px 10px #888888;
}

.form-group {
  margin-bottom: 15px;
}

.input-container label,
.checkbox-container label {
  display: flex;
  margin-bottom: 5px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.input-container input[type="email"],
.input-container input[type="password"],
.input-container input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.checkbox-container input[type="checkbox"] {
  width: auto;
  margin-left: 10px;
}

.button-container {
  text-align: center;
}

.submit-button {
  background-color: #5500cc;
  color: white;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.submit-button:hover {
  background-color: #672ebb;
}

h2 {
  display: flex;
  justify-content: center;
  padding: 20px;
}
